html {
  min-height: 100%; /* make sure it is at least as tall as the viewport */
  position: relative;
}
body {
  height: 100%; /* force the BODY element to match the height of the HTML element */
  font-family: "Muli", sans-serif;
}
.highlight {
  font-family: "Merriweather", serif;
  color: #ed1250;
}
#nav-buttons {
  padding-top: 3.5rem;
}
#footer {
  height: 10vh;
  background: #36622b;
  padding: 1.3rem 5rem 5rem 5rem;
}
#nav {
  position: relative;
  height: 20vh;
  background: #fbfad3;
  text-align: center;
}
#content {
  color: #36622b;
  padding: 5rem 5rem 5rem 5rem;
  min-height: 70vh;
  background: #c6e377;
}
